/* src/styles/index.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #ffffff;
  height: 100vh;
}

.app {
  display: flex;
}

.sidebar {
  width: 60px;
  background: #333333;
  padding: 10px;
}

main {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-list {
  max-width: 600px;
  width: 100%;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.todo-list h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.todo-list .form,
.todo-list .filters,
.todo-list .form-inline {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-list input, 
.todo-list select {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #333333;
  border: 1px solid #444444;
  color: #ffffff;
  border-radius: 5px;
}

.todo-list button {
  padding: 10px;
  background-color: #444444;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.todo-list button:hover {
  background-color: #555555;
}

.todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #2a2a2a;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list .todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list .todo-item span {
  flex: 1;
}

.todo-list .actions {
  display: flex;
  gap: 10px;
}

.todo-list .subtasks {
  padding-left: 20px;
  margin-top: 10px;
}

.todo-list .subtask-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-list .form-inline {
  display: flex;
  gap: 10px;
}

.journal, .timers, .calendar {
  max-width: 600px;
  width: 100%;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Shelf styles */
.shelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  padding: 10px;
  width: 60px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: left 0.3s;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.shelf button {
  margin: 30px 0;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
}

.toggleButton {
  position: fixed;
  top: 20px;
  left: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  z-index: 1000;
}

.search-toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  z-index: 1000;
}
